---
import { getHomePermalink } from '~/utils/permalinks';
---

<section class="flex h-full items-center p-16">
	<div
		class="container mx-auto my-8 flex flex-col items-center justify-center px-5"
	>
		<div class="max-w-md text-center">
			<h2 class="mb-8 text-9xl font-bold">
				<span class="sr-only">Error</span>
				<span
					class="bg-gradient-to-r from-primary-300 to-primary-700 bg-clip-text text-transparent"
					>404</span
				>
			</h2>
			<p class="text-3xl font-semibold md:text-3xl">
				Desculpe, não achamos esta página.
			</p>
			<p class="mb-8 mt-4 text-lg text-gray-600 dark:text-slate-400">
				Mas não se preocupe - podemos encontrar outras coisas em nossa página.
			</p>
			<a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4"
				>Voltar ao início</a
			>
		</div>
	</div>
</section>
