---
import { Icon } from 'astro-icon';

import { getPermalink } from '~/utils/permalinks';

const items = [
	[
		{
			question: 'Onde fica o Grupo Escoteiro?',
			answer: `Nosso Grupo fica na Rua Coronel Camisão, 30 no bairro Higienópolis (Zona Norte de Porto Alegre) junto ao Colégio Pastor Dohms. Realizamos nossas atividades na área do turno inverso.`,
		},
		{
			question: 'Quais os dias e horários das reuniões?',
			answer: `Nossas atividades acontecem, normalmente, nos sábados à tarde, iniciando às 13h30 e encerrando às 18h00. 
			\n
			Eventualmente, temos atividades especiais, como acampamentos, excursões ou mutirões, e os horários podem variar. Além disso, antecipamos o encerramento nos meses de Junho, Julho e Agosto para 17h30.`,
		},
		{
			question: 'Quem foi Albert Schweitzer?',
			linkText: 'Biografia completa',
			linkHref: getPermalink('albert-schweitzer', 'post'),
			answer: `Albert Schweitzer foi um teólogo, organista, médico e filósofo humanitário dedicado, famoso por sua missão médica na África. Em 1913, fundou um hospital no Gabão, proporcionando cuidados médicos vitais em uma região carente. Foi laureado em 1952 com o Prêmio Nobel da Paz.
			\n
			Sua filosofia de "reverência pela vida" influenciou gerações, enfatizando a importância do respeito por todas as formas de vida. Seu legado inspirador de compaixão e serviço altruístico perdura até hoje.`,
		},
	],
	[
		{
			question: 'Qual a idade para participar?',
			answer: `Crianças a partir de 6 anos e meio podem participar como lobinhos - e jovens até 21 anos podem participar nos demais ramos.
			\n
			Os membros do grupo são divididos em quatro ramos, pelas faixas etárias: Ramo Lobinho, entre 6 anos e meio e 11 anos; Ramo Escoteiro, entre 10 e 15 anos; Ramo Sênior, entre 15 e 18 anos; e Ramo Pioneiro, entre 17 e 21 anos.`,
		},
		{
			question: 'Quanto custa para ser escoteiro?',
			answer: `Existem custos diretos e indiretos: existe uma taxa anual e mensalidades, além de custos com eventos, materiais e uniformes.
			\n
			Atualmente, a mensalidade do nosso grupo tem o valor de R$&nbsp;30,00, e a taxa anual é em torno de R$&nbsp;120,00, a ser reajustada pelos níveis Nacional e Regional dos Escoteiros do Brasil.`,
		},
		{
			question: 'Sou adulto, também posso ser escoteiro?',
			answer: `O Movimento Escoteiro é um movimento de jovens e para jovens, com o apoio de adultos voluntários. Você pode conhecer a proposta do Movimento Escoteiro e, se interessando, tornar-se voluntário no Grupo Escoteiro. Sinta-se convidado para conversar conosco!`,
		},
	],
];
---

<div class="mx-auto max-w-6xl px-4 py-16 lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="mb-10 max-w-xl sm:text-center md:mx-auto md:mb-12 lg:max-w-2xl">
			<h2
				class="font-heading mb-4 max-w-lg text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto"
			>
				Perguntas Frequentes
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-2 lg:gap-x-16">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer, linkText, linkHref }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon
										name="tabler:arrow-down-right"
										class="text-primary-500 inline-block h-7 w-7"
									/>
									{question}
								</p>
								{answer.split(/\n *\n/).map((paragraph) => (
									<p
										class="mb-2 text-gray-700 dark:text-gray-400"
										set:html={paragraph}
									/>
								))}
								{linkText && (
									<a href={linkHref} class="inline-flex items-center gap-1">
										<Icon
											name="tabler:link"
											class="text-primary-500  inline-block h-4 w-4"
										/>
										<span
											class="hover:text-primary-600 text-gray-700 underline decoration-dotted decoration-1 underline-offset-4 transition duration-200 ease-in dark:text-gray-400"
											set:html={linkText}
										/>
									</a>
								)}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
