---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'A Promessa e a Lei&nbsp;Escoteira',
		description:
			'Um compromisso voluntário com um conjunto de valores compartilhado.',
		icon: 'flat-color-icons:biotech',
	},
	{
		title: 'Aprender Fazendo',
		description: 'Uma abordagem experiencial da educação.',
		icon: 'flat-color-icons:positive-dynamic',
	},
	{
		title: 'Progressão Pessoal',
		description: 'Motivação e desafio para o desenvolvimento contínuo.',
		icon: 'flat-color-icons:reading',
	},
	{
		title: 'Sistema de Equipes',
		description: 'Uma ferramenta de empoderamento dos jovens.',
		icon: 'flat-color-icons:conference-call',
	},
	{
		title: 'Suporte do Adulto',
		description: 'Parceria entre jovens e adultos.',
		icon: 'flat-color-icons:collaboration',
	},
	{
		title: 'Marco Simbólico',
		description: 'Um conjunto de símbolos, temas e histórias.',
		icon: 'flat-color-icons:panorama',
	},
	{
		title: 'Natureza',
		description:
			'Um cenário ideal que proporciona diversas oportunidades de aprendizagem.',
		icon: 'flat-color-icons:landscape',
	},
	{
		title: 'Envolvimento Comunitário',
		description:
			'Empoderando os jovens para que sejam cidadãs e cidadãos globais ativos.',
		icon: 'flat-color-icons:globe',
	},
];
---

<section class="relative">
	<div
		class="pointer-events-none absolute inset-0 mb-32 bg-primary-50 dark:bg-slate-800"
		aria-hidden="true"
	>
	</div>
	<div class="relative mx-auto max-w-6xl px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p
					class="text-base font-semibold uppercase tracking-wide text-primary-600 dark:text-primary-200"
				>
					Os oito elementos do
				</p>
				<h2
					class="leading-tighter font-heading mb-4 text-4xl font-bold tracking-tighter md:text-5xl"
				>
					Método Educativo Escoteiro
				</h2>
				<p
					class="mx-auto max-w-3xl text-center text-lg text-gray-600 dark:text-slate-400"
				>
					Estes elementos podem ser encontrados isoladamente em outras propostas
					educativas.
					<br />
					A originalidade está em integrá-los em um todo.
				</p>
			</div>
			<div
				class="my-12 grid items-start gap-6 dark:text-white md:grid-cols-2 lg:grid-cols-3"
			>
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col rounded bg-white p-6 shadow-xl transition hover:shadow-lg dark:border dark:border-slate-800 dark:bg-slate-900">
							<div class="mb-4 flex items-center">
								<Icon name={icon} class="h-12 w-12" />

								<div class="ml-4 text-xl font-bold" set:html={title} />
							</div>
							<p class="text-md text-gray-500 dark:text-gray-400">
								{description}
							</p>
						</div>
					))
				}
				<div
					class="col-span-2 overflow-clip rounded shadow-xl lg:col-span-1 lg:col-start-2 lg:row-start-2"
				>
					<iframe
						class="aspect-video w-full"
						src="https://www.youtube-nocookie.com/embed/B7FmNmH0uhE?si=Tgt2hGuHB1eT2uit&controls=0"
						title="Conheça o Médoto Educativo Escoteiro - YouTube"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
