---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'Bufê de Sopas',
			description:
				'Dia 01 de Julho teremos a décima segunda edição do nosso clássico Bufê de Sopas!',
			icon: 'tabler:soup',
		},
		{
			title: 'Jantar-Baile',
			description:
				'Para comemorarmos o Aniversário de 55 anos do GEAS, realizaremos um jantar-baile no dia 23 de Setembro.',
			icon: 'tabler:music',
		},
	],
	[
		{
			title: 'Fórum de Lei e Promessa',
			description:
				'Uma atividade de reflexão para adultos voluntários, no dia 27 de Maio.',
			icon: 'tabler:license',
		},
		{
			title: 'Dia do Amigo',
			description:
				'Uma atividade para que os jovens do grupo tragam um amigo para participar junto, no segundo semestre.',
			icon: 'tabler:friends',
		},
	],
];
---

<section class="scroll-mt-16" id="eventos">
	<div class="mx-auto max-w-6xl px-4 py-16 lg:px-8 lg:py-20">
		<div class="mb-10 max-w-3xl sm:text-center md:mx-auto md:mb-12">
			<p
				class="text-base font-semibold uppercase tracking-wide text-primary-600 dark:text-primary-200"
			>
				Eventos
			</p>
			<h2
				class="leading-tighter font-heading mb-4 text-4xl font-bold tracking-tighter md:text-5xl"
			>
				Esteja conosco este ano
			</h2>
			<p
				class="mx-auto max-w-3xl text-xl text-gray-600 dark:text-slate-400 sm:text-center"
			>
				Veja quais são os eventos do GEAS este ano e como pode participar deles:
			</p>
		</div>
		<div class="mx-auto grid space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex max-w-md flex-row">
								<div class="mb-4 mr-4">
									<div class="bg-primary-500 dark:bg-primary-700 flex h-12 w-12 items-center justify-center rounded-full motion-safe:transition-transform motion-safe:duration-150 motion-safe:hover:scale-110">
										{icon && (
											<Icon name={icon} class="icon-light h-6 w-6 text-white" />
										)}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p class="text-gray-600 dark:text-slate-400">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
