---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import {
	getHomePermalink,
	getBlogPermalink,
	getPermalink,
} from '~/utils/permalinks';
---

<header
	class="sticky top-0 z-40 mx-auto w-full flex-none bg-white dark:bg-slate-900 md:bg-white/90 md:backdrop-blur-sm dark:md:bg-slate-900/90"
	id="header"
>
	<div
		class="mx-auto w-full max-w-6xl px-3 py-3 md:flex md:justify-between md:px-4"
	>
		<div class="flex justify-between">
			<a class="pl-2" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="hidden h-[calc(100vh-100px)] w-full items-center overflow-y-auto text-gray-600 dark:text-slate-200 md:flex md:h-auto md:w-auto md:overflow-visible"
			aria-label="Main navigation"
		>
			<ul
				class="flex w-full flex-col pt-8 text-xl md:w-auto md:flex-row md:self-center md:pt-0 md:text-base"
			>
				<li class="dropdown">
					<button
						class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						>Sobre nós</button
					>
					<ul
						class="dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white md:pl-0 dark:md:bg-slate-800"
					>
						<li class="">
							<a
								class="whitespace-no-wrap block rounded-t px-4 py-2 dark:hover:bg-gray-700 md:hover:bg-gray-100"
								href={getPermalink('historia-do-geas', 'post')}
								>História do Grupo</a
							>
						</li>
						<!-- <li class="">
							<a class="md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-4 block whitespace-no-wrap" href="adultos"
								>Adultos</a
							>
						</li> -->
						<li class="">
							<a
								class="whitespace-no-wrap block rounded-b px-4 py-2 dark:hover:bg-gray-700 md:hover:bg-gray-100"
								href="/adultos">Adultos</a
							>
						</li>
					</ul>
				</li>
				<!-- <li>
					<a
						class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						href="#"
						>This
					</a>
				</li> -->
				<li>
					<a
						class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						href={getBlogPermalink()}>Blog</a
					>
				</li>
				<!-- <li class="md:hidden">
					<a
						class="flex items-center px-4 py-3 font-bold transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						href="https://wa.me/555189141980"
						>WhatsApp
					</a>
				</li> -->
				<li class="md:hidden">
					<a
						class="flex items-center px-4 py-3 font-bold transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						href="https://www.instagram.com/escoteirosalbert/"
						>Instagram
					</a>
				</li>
				<li class="md:hidden">
					<a
						class="flex items-center px-4 py-3 font-bold transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						href="https://www.facebook.com/Geas38rs"
						>Facebook
					</a>
				</li>
				<li class="md:hidden">
					<a
						class="flex items-center px-4 py-3 font-bold transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
						href="https://twitter.com/geas38rs"
						>Twitter
					</a>
				</li>
			</ul>
			<div class="mb-4 ml-2 flex items-center md:mb-0 md:self-center">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-5 h-5" />
					<!-- <a
						class="inline-flex items-center rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
						aria-label="Converse conosco no WhatsApp"
						href="https://wa.me/555189141980"
					>
						<Icon name="tabler:brand-whatsapp" class="h-5 w-5" />
					</a> -->
					<a
						class="inline-flex items-center rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
						aria-label="Perfil do Instagram"
						href="https://www.instagram.com/escoteirosalbert/"
					>
						<Icon name="tabler:brand-instagram" class="h-5 w-5" />
					</a>
					<!-- <a
						href="https://www.facebook.com/Geas38rs"
						class="inline-block rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
						aria-label="Página do Facebook"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
					</a>
					<a
						href="https://twitter.com/geas38rs"
						class="inline-block rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
						aria-label="Perfil do Twitter"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a> -->
				</div>
			</div>
		</nav>
	</div>
</header>
