---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
---

<section>
	<div class="mx-auto max-w-6xl px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="mx-auto max-w-5xl pb-10 text-center md:pb-16">
				<h2
					class="leading-tighter font-heading mb-4 text-5xl font-bold tracking-tighter md:text-[3.50rem]"
				>
					O Grupo Escoteiro ideal para você!
				</h2>
				<div class="mx-auto max-w-3xl">
					<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
						O Grupo&nbsp;Escoteiro Albert&nbsp;Schweitzer tem mais de
						50&nbsp;anos&nbsp;de&nbsp;história, proporcionando aventuras e
						aprendizagem para crianças,&nbsp;adolescentes&nbsp;e&nbsp;jovens
						entre&nbsp;6&nbsp;e&nbsp;21&nbsp;anos,&nbsp;desde 1968.
					</p>
					<div
						class="m-auto flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center"
					>
						<div class="flex w-full sm:w-auto">
							<!-- <a
								class="btn btn-primary w-full sm:mb-0"
								href="https://goo.gl/maps/317AMCrEq1Lso7By6"
								target="_blank"
								rel="noreferrer noopner"
							> -->
							<a class="btn btn-primary w-full sm:mb-0" href="#mapa">
								<Icon name="tabler:map-pin" class="-ml-1.5 mr-1 h-5 w-5" /> Encontre
								o Albert
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a class="btn w-full" href="#posts">Saiba mais</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative m-auto max-w-4xl">
					<Picture
						src={import('~/assets/images/foto-epud-002.jpg')}
						class="mx-auto w-full rounded-md"
						widths={[400, 768, 1480]}
						sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
						alt="Escoteiro sorrindo e fazendo uma saudação"
						aspectRatio={1480 / 833}
						loading="eager"
						width={1480}
						height={833}
					/>
				</div>
			</div>
		</div>
	</div>
</section>
