---
---

<div
	id="mapa"
	class="mx-auto max-w-6xl px-4 py-8 sm:px-6 md:px-24 md:py-16 lg:px-8 lg:py-20"
>
	<h2 class="sr-only">Encontre o Albert</h2>
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.8433390715445!2d-51.18919782370415!3d-30.01265442980439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951979db99ec9815%3A0xdd2f2406ed6dc875!2sGrupo%20Escoteiro%20Albert%20Schweitzer%2038%2FRS!5e0!3m2!1spt-BR!2sbr!4v1715877767010!5m2!1spt-BR!2sbr"
		class="aspect-square w-full rounded-md border-0 md:aspect-video"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
