---
import Layout from '~/layouts/PageLayout.astro';
const { meta } = Astro.props;
const adultos = [
	{
		title: 'Diretoria',
		voluntarios: [
			{ name: 'Antonio', role: 'Diretor Presidente' },
			{ name: 'Etiane', role: 'Diretora Administrativa' },
			{ name: 'Cristina', role: 'Diretora Administrativa Adjunta' },
			{ name: 'Marineris', role: 'Diretora Financeira' },
			{ name: 'Aline', role: 'Diretora Financeira Adjunta' },
			{ name: 'Gilberto', role: 'Diretor de Métodos Educativos' },
			{ name: 'Gustav', role: 'Diretor de Métodos Educativos Adjunto' },
			{ name: 'Dorival', role: 'Diretor de Relções Institucionais' },
			{ name: 'Atenante', role: 'Diretor de Relações Institucionais Adjunto' },
			{ name: 'Ricardo', role: 'Diretor de Comunicação' },
		],
	},
	{
		title: 'Alcateia',
		voluntarios: [
			{ name: 'Tatiana', role: 'Akelá' },
			{ name: 'Luís Fernando', role: 'Baloo' },
			{ name: 'Bernardo', role: 'Hathi' },
			{ name: 'Lukas', role: 'Lobo Gris' },
			{ name: 'Juliana', role: 'Assistente da Alcateia' },
		],
	},
	{
		title: 'Tropa Escoteira',
		voluntarios: [
			{ name: 'Karina', role: 'Chefe de Tropa' },
			{ name: 'Daniel', role: 'Assistente da Tropa' },
			{ name: 'Maria Eduarda', role: 'Assistente da Tropa' },
			{ name: 'Brenda', role: 'Assistente da Tropa' },
			{ name: 'Paulo', role: 'Assistente da Tropa' },
			{ name: 'Vitor', role: 'Assistente da Tropa' },
			{ name: 'Felipe', role: 'Assistente da Tropa' },
			{ name: 'Vitória', role: 'Assistente da Tropa' },
		],
	},
	{
		title: 'Tropa Sênior',
		voluntarios: [
			{ name: 'Leonardo', role: 'Chefe de Tropa' },
			{ name: 'Nara', role: 'Assistente da Tropa' },
			{ name: 'Rigoberto', role: 'Assistente da Tropa' },
			{ name: 'Flávio', role: 'Assistente da Tropa' },
		],
	},
	{
		title: 'Clã Pioneiro',
		voluntarios: [
			{ name: 'Patrícia', role: 'Mestre Pioneiro' },
			{ name: 'Felipe', role: 'Mestre Pioneiro' },
		],
	},
];
---

<Layout meta={meta}>
	<section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
		<header>
			<h1
				class="leading-tighter font-heading mb-8 text-center text-3xl font-bold tracking-tighter md:mb-12 md:text-4xl"
			>
				Adultos Voluntários
			</h1>
		</header>
		{
			adultos.map(({ title, voluntarios }) => (
				<>
					<h2 class="mt-12 mb-8 text-2xl font-bold tracking-tight">{title}</h2>
					<ul class="grid grid-cols-4 gap-8">
						{voluntarios.map(({ name, role }) => (
							<li class="flex-nowsrap col-span-2 flex flex-col md:col-span-1">
								<span class="mb-4 block aspect-[4/5] w-full rounded-md bg-slate-400 shadow-lg" />
								<span class="font-semibold">{name}</span>
								<span class="text-sm">{role}</span>
							</li>
						))}
					</ul>
				</>
			))
		}
	</section>
</Layout>
